<nav class="navbar navbar-inverse navbar-static-top">
<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">GitStats</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Dashboard</a></li>
            <li ng-click="logout()"><a href="#">LogOut</a></li>
            <!--<li><a href="#">Link</a></li>-->
            <!--<li><a href="#">Link</a></li>-->
        </ul>
    </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<div class="row">
    <div class="container">
        <h1>Repositories List</h1>
        <!--<button class="btn btn-danger" ng-click="logout()"><b>Logout</b></button>-->
        <br>
        <table class="table table-hover">
            <tr>
                <th>Repositery Name</th>
                <th>Owner</th>
                <th>Issues#</th>
            </tr>
            <tr>
                <input type="text" ng-model="search.$" class="form-control" placeholder="Search">
            </tr>
            <tr ng-repeat="repo in repos | filter : search" style="cursor: pointer" ng-click="repoIDfn(repo.owner.login, repo.name)">
                <th><img width="100px" height="100px" class="img-rounded" src={{repo.owner.avatar_url}}>{{repo.name}}</th>
                <th>{{repo.owner.login}}</th>
                <th>{{repo.open_issues}}</th>
            </tr>
        </table>
    </div>
</div>