<div class="row">
    <div class="container">
        <h1>Repositeries List</h1>
        <br>
        <table class="table table-hover">
            <tr>
                <th>Repositery Name</th>
                <th>Owner</th>
                <th>Issues#</th>
            </tr>
            <tr ng-repeat="repo in repos">
                <th><img class="img-rounded" src={{repo.owner.avatar_url}}>{{repo.name}}</th>
                <th>{{repo.owner.login}}</th>
                <th>{{repo.open_issues}}</th>
            </tr>
        </table>
    </div>
</div>