<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">GitStats</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <!--<li><a href="#">Dashboard</a></li>-->
                <!--<li><a href="#">Link</a></li>-->
                <!--<li><a href="#">Link</a></li>-->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="row">
    <div class="container-fluid loginBox">
        <h1>GitStats</h1>
        <div class="row container col-md-2 private">
            <label class="label-default">Private Auth</label>
            <a href={{redirectPrivatePath}} ><i id="gitLoginPublic"  class="fa fa-github fa-5x"></i></a>
        </div>
        <div class="row container col-md-2 public">
            <label class="label-default">Public Auth</label>
            <a href={{redirectPublicPath}} ><i id="gitLoginPrivate" class="fa fa-github fa-5x"></i></a>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="gitLoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Login</h4>
                </div>
                    <div class="modal-body">
                    <form role="form">
                        <label>Username</label>
                        <input type="text" placeholder="Username" class="form-control">
                        <div class="input-group"></div>
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="*****">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Login</button>
                    <button type="button" class="btn btn-primary">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
