<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">GitStats</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">MyRepo</a></li>
                <li ng-click="logout()"><a href="#">LogOut</a></li>
                <!--<li><a href="#">Link</a></li>-->
                <!--<li><a href="#">Link</a></li>-->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="row">
    <!--Labels-->
    <div class="container groupLabels pull-left">
        <table class="table table-hover">
            <tr>
                <th>Labels</th>
            </tr>
            <tr ng-repeat="l in labels">
                <th>{{l.name}}</th>
            </tr>
        </table>
    </div>
    <!--Labels-->
    <!--GroupLabels-->
        <div class="container groupLabels pull-left">
            <table id="labelGroups" class="table table-hover">
                <tr>
                    <th>Group</th>
                </tr>
                <tr>
                    <th>
                        <form ng-submit="addGroupLabel(newGroupLabel)">
                                <input type="text" ng-model="newGroupLabel" placeholder="New group label" class="form-control">
                        </form>
                    </th>
                </tr>
                <tr ng-repeat="l in glabels">
                        <th ng-click="deleteGroupLabel(l.id)">{{l.name}}<i class="fa fa-trash pull-right fa-2x"></i></th>
                </tr>
            </table>
        </div>
    <!--GroupLabels-->

</div>