<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">GitStats</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">MyRepo</a></li>
                <li><a ui-sref="Dashboard">Dashboard</a></li>
                <li ng-click="logoutServ.logoutUser()"><a href="#">LogOut</a></li>
                <!--<li><a href="#">Link</a></li>-->
                <!--<li><a href="#">Link</a></li>-->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="row">
    <!--Labels-->
    <div class="container groupLabels pull-left">
        <table class="table table-hover">
            <tr>
                <th>Labels</th>
            </tr>
            <tr ng-repeat="l in labels">
                <td>{{l.name}}<i class="fa fa-plus fa-2x pull-right" style="cursor:pointer;" ng-click="addGcontainer(l.id,0)"></i></td>
            </tr>
        </table>
    </div>
    <!--Labels-->
    <!--GroupLabels-->
        <div class="container groupLabels pull-left">
            <table id="labelGroups" class="table table-hover">
                <tr>
                    <th>Group</th>
                </tr>
                <tr>
                    <th>
                        <form ng-submit="addGroupLabel(newGroupLabel)">
                                <input type="text" ng-model="newGroupLabel" placeholder="New group label" class="form-control">
                        </form>
                    </th>
                </tr>
                <tr ng-repeat="l in glabels">
                        <th style="cursor: pointer;" ng-click="clickGlabel(l.id,l.name)">{{l.name}}<i class="fa fa-trash pull-right fa-2x" style="cursor: pointer"  ng-click="deleteGroupLabel(l.id)"></i></th>
                </tr>
            </table>
        </div>

    <!--GroupLabels-->
    <!--LabelContainer-->
    <div class="container groupLabels pull-left" ng-show="showing">
        <table id="labelGroups" class="table table-hover">
            <tr>
                <th colspan="2">{{container}} Group</th>

            </tr>
            <tr>
                    <th>Label</th>
                    <th>Value</th>
            </tr>
            <tr ng-repeat="v in valueLabels">
                <th>{{v.name}}</th>
                <th><input type="number" class="form-control" ng-model="v.value"></th>
            </tr>
        </table>
    </div>
    <!--LabelContainer-->

</div>