<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><b>GitStats</b></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
            <ul class="nav navbar-nav">
                <li ng-click="out()"><a href="#"><b>LogOut</b></a></li>
                <li><a ui-sref="Dashboard"><b>Dashboard</b></a></li>
                <li class="active"><a href="#"><b>Config</b></a></li>
                <li><a ui-sref="Stats"><b>Stats</b></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="row">

    <!--GroupLabels-->
        <div class="container groupLabels pull-left">
            <table id="labelGroups" class="table table-hover">
                <tr>
                    <th class="label-success">Group</th>
                </tr>
                <tr>
                    <th>
                        <form ng-submit="addGroupLabel(newGroupLabel)">
                                <input type="text" ng-model="newGroupLabel" placeholder="New group label" class="form-control">
                        </form>
                    </th>
                </tr>
                <tr ng-repeat="l in glabels">
                        <th popover="Customize Group" popover-trigger="mouseenter" style="cursor: pointer;" ng-click="clickGlabel(l.id,l.name)">{{l.name}}<i class="fa fa-trash pull-right fa-2x" style="cursor: pointer"  ng-click="deleteGroupLabel(l.id)"></i></th>
                </tr>
            </table>
        </div>

    <!--GroupLabels-->
    <!--Labels-->
    <div class="container groupLabels pull-left" ng-show="showing">
        <table class="table table-hover">
            <tr>
                <th class="label-warning">Categories</th>
            </tr>
            <tr ng-repeat="l in labels">
                <td>{{l.name}}<i class="fa fa-plus fa-2x pull-right" style="cursor:pointer;" ng-click="addGcontainer(l.id,0,l.name)"></i></td>
            </tr>
        </table>
    </div>
    <!--Labels-->
    <!--LabelContainer-->
    <div class="container groupLabels pull-left" ng-show="showing">
        <table id="labelGroups" class="table table-hover">
            <tr>
                <th colspan="2" class="label-danger">{{container}} Group</th>

            </tr>
            <tr>
                    <th>Label</th>
                    <th>Value</th>
            </tr>
            <tr ng-repeat="v in valueLabels">
                <th>{{v.label}}</th>
                <th>
                    <form role="form" ng-submit="setValueC(v)">
                    <input type="number" class="form-control" ng-model="v.value">
                    </form>
                </th>
            </tr>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!--<div class="modal-header">-->
                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                    <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
                <!--</div>-->

                <div class="modal-footer">
                    <input type="text" ng-model="entry" class="form-control">
                    <button type="button" class="btn btn-primary" ng-click="entryFn(entry)">Reload</button>
                </div>
            </div>
        </div>
    </div>

</div>