//Home
.loginBox{
  position: relative;
  left:35%;
  width:auto;
  height:auto;
}
#gitLoginPrivate{
  left: 4%;
  cursor: pointer;
}

#gitLoginPublic{
  left: 4%;
  cursor: pointer;

}

.centroidme {
  position: absolute;
  left: 50%;
  margin-left: -200px;
  width: 400px;
  height: 100px;
  top: 50%;
  margin-top: -50px;
  text-align: center;

  a {
    display: 'block';
  }
}

.chart{
  width: 500px;
  height:500px;
}

.private{
  border-right: 2px #333;
}

.groupLabels{
  position:relative;
  left:0;
  width:33%;
}


tr {
  img {
    margin-right: 40px;
  }
}

th { 
  vertical-align: middle !important;
}