//Home
.loginBox{
  position: relative;
  left:35%;
  width:auto;
  height:auto;
}
#gitLoginPrivate{
  left: 4%;
  cursor: pointer;
  position: relative;
  float:left;
}

#gitLoginPublic{
  left: 4%;
  cursor: pointer;
  position: relative;
  float:left;
}